.container {
    display: flex;
    margin: 10px auto;
    border: 1px solid orange;
    max-width: 1100px;
    height: 120px;
    width: 800px;
    font-family: Roboto, Arial, sans-serif;
}

.number {    
    background-color: orange;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 48px;
    color: blue;
    margin: 0 50px 0 30px;
}

.text {
    align-items: center;
}

.character {
    display: flex;
    color: lightgray;
}

.type-text, .time-text, .look-text,
.remind-text {
    height: 20px;
    padding: 5px;
    font-size: 12px;
}

.type-text {
    width: 100px;
}

.time-text {
    width: 200px;
}

.name {
    font-size: large;
    font-weight: bold;
    padding: 5px;
}

.todo {
    display: flex;
    padding: 5px 0 0 0;
}

.look-text {
    color: orange;
    width: 150px;

}

.remind-text {       
    color: grey;
}

