.container {
    display: flex;
    margin: 10px auto;
    border: 1px solid orange;
    max-width: 1100px;
    /*height: 200px;*/
    width: 800px;
}

.number {    
    background-color: orange;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 48px;
    stroke: blue;
}

.text {
    margin 50px;
    border-style: dashed;
}

.character {
    display: flex;
    color: lightgray;
}

.type-text, .time-text, .look-text,
.remind-text {
    height: 20px;
    margin: 10px;
    padding: 10px;
    font-size: small;
}

.type-text {
    width: 100px;
}

.time-text {
    width: 200px;
}

.name {
    font-size: large;
}

.todo {
    display: flex;
}

.look-text {
    color: orange;

}

.remind-text {       
    color: grey;
}

